
<link href="/css/checkgrade.css" rel="stylesheet" type="text/css">

</head>
<body style="margin: 0;">

<!-- Header -->
<div class="container">
  <div class="check_grade_page">
    <button class="turn_back" onclick="goBack()">Back</button>
    <div class="check_grade_page_text">
      <div class='check_grade_page_text_1'>Fill you student ID here</div>
      <input class="input_ID" placeholder="Enter your ID" type="number">
      <button class="check_grade_page_page_button">Enter</button>
    </div>
  </div>

  <script>
    function goBack() {
      window.history.back();
    }
    </script>
</body>
