
<link href="/css/FAQs.css" rel="stylesheet" type="text/css">

</head>
<body style="margin: 0;">

<!-- Header -->
<div class="container">
    <div class="header_of_FAQs">FAQs</div>
    <form class="FAQs_form" >
        <label class="question">1.Who is the most handsome man?</label><br>
        <p class="answer">-The answer is : Nguyễn Long </p><br>
        <label class="question">2.Who is the best mentor?</label><br>
        <p class="answer">-The answer is : Mr.Vu </p><br>
        <label class="question">3.Who is the best president?</label><br>
        <p class="answer">-The answer is : Uncle Ho </p><br>
        <label class="question">4.What is CSZ mean?</label><br>
        <p class="answer">-The answer is : Computer Science Zone </p><br>
        <label class="question">5.CSZ and GG dev, which is better?</label><br>
        <p class="answer">-The answer is : CSZ is god ok??? </p><br>
        <label class="question">6.Who is the most urgly person?</label><br>
        <p class="answer">-The answer is : Trương Hạ Vũ </p><br>
        
      </form> 
</body>