
<link href="/css/showmap.css" rel="stylesheet" type="text/css">

</head>
<body style="margin: 0;">

<!-- Header -->
<div class="container">
    <button class="turn_back" onclick="goBack()">Back</button>
    Coming soon
</div>
<script>
    function goBack() {
      window.history.back();
    }
    </script>
</body>